.a-cart {
    &-link {
        position: relative;
        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 100%;
            bottom: 100%;
            transform: translate(-66%, 66%);
            background-color: $red;
            border-radius: 50%;
            color: white;
            font-size: .625rem;
            padding: 3px;
        }
    }
}